@import '../../scss/colors';
@import '../../scss/breakpoints';

.DoctorCard{
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    border-radius: 20px;
    padding:20px 18px;
    display: flex;
    flex-direction: column;
    position: relative;
    &:hover {
        .DoctorCardImage{
            img{
                transform: scale(1.1);
            }
        }
    }
    .DoctorCardShare {
        width: 45px;
        height: 45px;
        filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.1));
        background: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 17px;
        top: 20px;
    }
    .DoctorCardImage{
        width: 102px;
        position: relative;
        margin-top: -67px;
        margin-bottom: 21px;
        display: grid;
        align-items: end;
        border-radius: 0 0 100vw 100vw;
        overflow: hidden;
        padding-top: 5px;
        .Circle {
            width: 102px;
            height: 102px;
            background: linear-gradient(264.85deg, #FFD59D 23.35%, #876E2E 89.39%);
            border-radius: 50px;
            position: absolute;
        }
        img {
            position: relative;
            z-index: 2;
            margin: 0 auto;
            transition: all 0.25s ease;
            max-width: 79px;
        }
    }
    .DoctorCardTitle { 
        h4{
            font-size: $font-h5;
            line-height: $font-h5 + 5;
            font-weight: $font-weight-semiBold;
            color: $color-primary;
            margin-bottom: 8px;
        }
        aside{
            font-size: $font-base;
            line-height: $font-base + 3;
            font-weight: $font-weight-medium;
            color: $color-primary;
            margin-bottom: 26px;
        }
        .DoctorCardTag {
            font-size: $font-base;
            line-height: $font-base + 3;
            font-weight: $font-weight-semiBold;
            color: $color-primary;
            background: #F5F5F7;
            border-radius: 60px;
            text-align: center;
            padding: 8px 15px;
            display: inline-block;
            margin-bottom: 8px;
        }
        .DoctorCardTagbtm {
            font-size: $font-medium;
            line-height: $font-medium + 3;
            font-weight: $font-weight-medium;
        }
    }
    .DoctorCardAreas{
        margin-top: 26px; 
        h4{
            font-size: $font-base;
            line-height: $font-base + 3;
            font-weight: $font-weight-semiBold;
            position: relative;
            border-bottom: 1px solid rgba(189, 189, 189, 0.32);
            padding-bottom: 10px;
            margin-bottom: 16px;
            margin-left: -18px;
            margin-right: -18px;
            padding-left: 18px;
            padding-right: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
                transition: .5s ease-in-out;
                display: none;
                width: 20px;
                height: 12px;
                background: url(../../images/icons/dropdown_arw.svg) no-repeat right center;
                &.active {
                  rotate: 180deg;
                }
                @media #{$breakpoint-mobile} {
                    display: inline-block;
                }
              }
           
        } 
        ul.accordion{
            overflow: hidden;
            transition: height .7s ease-in-out;
        }
        li{
            font-size: $font-medium;
            line-height: $font-medium + 3;
            font-weight: $font-weight-medium;
            color: $color-primary;
            padding-left: 25px; 
            background: url(../../images/icons/areas-of-expertise-icon.svg) no-repeat left top;
        }
    }
    .DoctorCardFooter{
        padding-top: 31px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        .DoctorCardFooterLink {
            font-size: $font-medium;
            line-height: $font-medium + 3;
            font-weight: $font-weight-semiBold;
            color: #A2A2A2;
            padding-right: 10px;
        }
    }
    
}