@import '../../../scss/breakpoints';
@import '../../../scss/colors';
.topHeader {
    @media #{$breakpoint-mobile} {
        display: none;
    }
    p{
        font-size: $font-small;
        font-weight:$font-weight-medium;
    }
    li{
        font-size: $font-small;
        font-weight:$font-weight-medium;
    }
}
.header {
    background-color: #fff; 
    position: sticky;
    top: 0;
    z-index: 100;
    
    > div.mainHeaderWrapper {
        display: flex;
        padding: 23px 15px;
        justify-content: space-between;
        align-items: center;
        .logo {
            max-width: 160px;
        }
        .mainMenuSec{
            @media #{$breakpoint-mobile} {
                display: none;
            }
            .menuItem{
                position: relative;
                font-weight: $font-weight-medium;
                .hasChild{ 
                        background: url(../../../images/icons/menu-arw.svg) no-repeat right center;
                        padding-right: 18px;
                    
                }
                .dropdown{
                    display: none;
                    position: absolute;
                    width: 265px;
                    left: 0;
                    top: 30px;
                    padding: 15px 20px;
                    background-color: #fff;
                    border-radius: 8px;
                    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
                    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
                    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    
                    li{
                        display: flex;
                        gap: 10px;
                        padding: 10px 0;
                        border-top: 1px solid #BEBEBE;
                        &:first-child{
                            border-top:0 ;
                        }
                        i {
                            width: 18px;  
                            > img{
                                width: 100%;
                            }
                        }
                    }
                }
                &:hover{
                    .dropdown{
                        display: block;
                    }
                }

            }
        }

        .menuIcon{
            cursor: pointer;
        }
        .headerBtn{
            font-size: $font-small;
            font-weight:$font-weight-medium;
            padding: 12px 13px;
        }
        
    }
    .progressContainer{
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        @media #{$breakpoint-mobile} {
            height: 2px;
        }
        .progressBar {
            height: 4px;
            background: linear-gradient(79.82deg, #2E388D 21%, #3A3686 29.06%, #5A3375 44.45%, #8E2E59 64.23%, #D52734 88.42%, #E9262A 94.28%);
            width: 0%; 
            @media #{$breakpoint-mobile} {
                height: 2px;
            }
          }
    }
}
