@import '../../../../scss/breakpoints';
@import '../../../../scss/colors';
.MenuOverlay{
    position: fixed;
    background-color: rgba(0,0,0,0.95);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
   &.fadeIn{
    display: block;
    animation: fade-animation 1s;
   }
   &.fadeOut{
    animation: fadeOut-animation 1s;
   }
   .greenBg{
    width: calc(50% - 218px);
    background-color: $color-primary;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
   }
   .blackOverlay {
    position: absolute;
    width: calc(50% + 218px);
    height: 25%;
    right:0;
    bottom:0 ;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,213,157,0) 100%);
    z-index: 1;
  }
   .leftCol{
    height: 100vh;
    display: flex; 
    flex-direction: column;
    color: #fff;
    padding-top: 190px;
    max-width: 255px;
    ul{
      li{
        
        padding-right: 20px;
        font-size: $font-h5;
        line-height: $font-h5 + 5;
        margin-bottom: 10px;
        background: url(../../../../images/icons/menu-white-arw-right.svg) no-repeat right;
      }
    }
    .leftColBtm{
      margin-top: 190px;
      border-top: 1px solid rgba(255, 255, 255, 0.32);
      .leftColBtmlogo {
        margin-top: 37px;
        margin-bottom: 26px;
      }
      .leftColBtmAdrs {
        font-size: $font-medium;
        line-height: $font-medium + 3;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 41px;
      }
    }
   }
   .rightCol{
    position: relative;
    padding-top: 190px;
    width: 100%;
    .close{
        position: absolute;
        right: 0;
        top: 80px;
        cursor: pointer;
    }
    .menuItem{
      width: 100%;
        text-align: right;
        color: $color-bdrlGray-2;
        ol{
          counter-reset: li;
          list-style: none;
          *list-style: decimal; 
            > li{
              font-size: $font-h1;
              font-weight: $font-weight-lighter;
              line-height: 100%;
              cursor: pointer;
              position: relative;
              -webkit-transition: all .3s ease-out;
                -moz-transition: all .3s ease-out;
                -ms-transition: all .3s ease-out;
                -o-transition: all .3s ease-out;
                transition: all .3s ease-out; 
              &:before{ 
                content: "0"counter(li)"/";
                counter-increment: li;
                position: absolute;	 
                font-size: $font-medium;
                font-weight: $font-weight-semiBold;
                left: 0px;
                -webkit-transition: all .3s ease-out;
                -moz-transition: all .3s ease-out;
                -ms-transition: all .3s ease-out;
                -o-transition: all .3s ease-out;
                transition: all .3s ease-out; 
              } 
              &:hover{
                &:before{ color: $color-white;}
                button{ 
                  color: $color-white;
                  svg{
                    path{
                      fill: $color-white;;
                    }
                  }
                }
              }
            > button{
                transition: all .3s ease-out; 
              svg{
                transition: all .3s ease-out; 
                display: inline-block;
                margin-left: 25px;
                transform: rotate(180deg);
                path{
                  fill: $color-bdrlGray-2;
                  transition: all .3s ease-out; 
                }
              }
              &.open{
                svg{
                  transform: rotate(0deg);
                  path{
                    fill: $color-white;
                  }
                }
              }
            }
            > a {
              font-size: $font-h1;
              font-weight: $font-weight-lighter;
              line-height: 100%;
              -webkit-transition: all .3s ease-out;
              -moz-transition: all .3s ease-out;
              -ms-transition: all .3s ease-out;
              -o-transition: all .3s ease-out;
              transition: all .3s ease-out; 
              &:hover{
                color: $color-white;
              }
            }
            
            ul{
              display: flex;
              flex-direction: column;
              height: 0px;
              overflow: hidden;
              padding: 0;
              transition: all .3s linear; 
              overflow: hidden;
              &.open {
                  padding: 30px 0;
                  height: auto;
                  opacity: 1;
              }
              li{
                  font-size: $font-h5;
                  font-weight: $font-weight-regular;
                  line-height: $font-h5 + 13;
                > a {
                    font-size: $font-h5;
                    font-weight: $font-weight-regular;
                    line-height: $font-h5 + 13;
                    
                    &:hover{
                      color: $color-white;
                    }
                }
                &:hover{
                  color: $color-white;
                }
              }
            }
          }
        }
        
    }
    
   }
}
  
  @keyframes fade-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }
  @keyframes fadeOut-animation {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
      display: none;
    }
  }