@import '../../scss/colors';
@import '../../scss/breakpoints';
.exceptionalCare{
    min-height: calc(100vh - 85px);
    display: flex;
    position: relative;
    background-color: $color-primary;
    @media #{$breakpoint-mobile} {
        min-height: unset;
     }
    >div{
        width: 50%;

        &.imageContainer{
           position: relative;
           :global(.swiper){
                height: 100%;
            }
           :global(.swiper-slide){
                height: 100%;
                background-size: cover ;
                background-repeat: no-repeat;
                max-height: unset;
            }
           img{
            width: 100%;
            object-fit: cover;
           }
            .autoplayProgress {
                position: absolute;
                right: 16px;
                bottom: 16px;
                z-index: 10;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: $color-primary;
                svg {
                    --progress: 0;
                    position: absolute;
                    left: 0;
                    top: 0px;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    stroke-width: 4px;
                    stroke: $color-primary;
                    fill: none;
                    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
                    stroke-dasharray: 125.6;
                    transform: rotate(-90deg);
                }
            }
        }
        &.rightColumn{
            background-color: $color-primary;
        }
        &.textContainer{
            position: absolute;
            width: 100%;
            display: flex;
            top: 0;
            left: 0;
            right: 0;
            @media #{$breakpoint-mobile} {
                position: static;
             }
            >div{
                width: 50%;
                padding: 80px 0 80px 120px;
                @media #{$breakpoint-mobile} {
                    width:100%;
                    padding: 46px 0 70px;
                 }
                .listItem{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    @media #{$breakpoint-mobile} {
                        padding-left: 45px;
                    }

                    li{
                        position: relative;
                        cursor: pointer;
                        h4{
                            background: url(../../images/icons/right-arrow-circle.svg) no-repeat right center;
                            @media #{$breakpoint-mobile} {
                                background-size: 16px;
                            }
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            left: -50px;
                            top: 25px;
                            width: 25px;
                            height: 25px;
                            border: 1px solid $color-white;
                            border-radius: 25px;
                            @media #{$breakpoint-mobile} {
                                width: 20px;
                                height: 20px;
                                left: -45px;
                            }
                            
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            left: -39px;
                            top: 50px;
                            width: 1px;
                            height: 50px;
                            border: 1px dashed #FFFFFF;
                            @media #{$breakpoint-mobile} {
                                left: -36px;
                                top: 45px;
                                height: 47px;

                            }
                        }
                        &.active{
                            &::after{
                                background-color: $color-bdrlDarkGray;
                            }
                            .autoplayProgress{
                                display: flex;
                                @media #{$breakpoint-mobile} {
                                    display: none;
                                 }
                            }
                        }
                        &:last-child{
                            &::before{
                                display: none;
                            }
                        }
                        .autoplayProgress {
                            position: absolute;
                            display: none;
                            left: -53px;
                            top: 22px;
                            z-index: 10;
                            width: 30px;
                            height: 30px;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                            color: $color-primary;
                            @media #{$breakpoint-mobile} {
                               display: none;
                            }
                            svg {
                                --progress: 0;
                                position: absolute;
                                left: 0;
                                top: 0px;
                                z-index: 10;
                                width: 100%;
                                height: 100%;
                                stroke-width: 8px;
                                stroke: $color-primary;
                                fill: none;
                                stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
                                stroke-dasharray: 125.6;
                                transform: rotate(-90deg);
                            }
                        }
                       
                    }
                }
            }
        }
    }
}