@import '../../scss/colors';
.SlidingCardWrap{
    .SlidingCardDescription{
        grid-column: 1 / 8; grid-row: 1;
        background: url(../../images/bg-pattern1.png) #fff;
       padding: 50px 138px 50px 45px;

       .SlidingCardbtn{
        display: inline-block;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 400;
       }
       .SlidingCardDec {
        font-size: 18px;
        font-weight: 400;
        margin-top: 25px;
        color: $color-bodyCopy;
       }
    }
    .SlidingCardImage{
        grid-column: 7 / 13; grid-row: 1;
        z-index: 1;
        margin: 25px 0;
        img{
            width: 100%;
            height: auto; 
        }
    }
}
