@import '../../../scss/colors';
@import '../../../scss/breakpoints';

.LeaderShipForm {
   
    .formError{
        border: 1px solid red !important;
    }
    .FormInput {
        border-radius: 42px;
        border: 1px solid rgba(255, 255, 255, 0.32);
        background: transparent;
        font-size: 16px;
        padding: 11px 24px;
        min-height: 49px;
        width: 100%;
        margin-bottom: 18px;
        outline: none;
        color: $color-white;
        @media #{$breakpoint-mobile}{
            margin-bottom: 12px;
        }
    }
    .FormTextarea {
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.32);
        background: transparent;
        font-size: 16px;
        padding: 12px 24px; 
        width: 100%;
        margin-bottom: 18px;
        color: $color-white;
        @media #{$breakpoint-mobile}{
            margin-bottom: 12px;
        }
    }
    .FormBtn{
        padding:12px 27px; ;
    }
}