@import '../../scss/colors';
@import '../../scss/breakpoints';
.leadershipPage{
    background: linear-gradient(0deg, #FFFFFF 87%, rgba(228, 255, 133, 0.3) 100%);

    .LeaderShipFormIcon{
        width: 52px;
        height: 52px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
    }
    .LeaderShipFormTitle {
        h4{
            font-weight:$font-weight-semiBold;
            font-size: $font-h5;
            color: $color-white;
            line-height: $font-h5 + 5;
            margin-bottom: 12px;
        }
        aside {
            color: $color-white;
            font-size: $font-base;
            line-height: $font-base + 11;
            margin-bottom: 25px;
            @media #{$breakpoint-mobile} {
                font-size: $font-medium;
                line-height: $font-medium + 10;
            } 
        }
    }
    .sliderNavigation{
        width: calc(100% + 52px);
        position: absolute;
        left: -20px;
        right: 0;
        top: 30%;
        z-index: 5;
        text-align: right;
        color: white;
        display: flex;
        gap: 16px;
        justify-content: space-between;
        align-items: center;
        
        .swiperButton{
            text-indent: -9999px;
            background-image: url(../../images/icons/round-alt-arrow-right.svg);
            width: 64px;
            height: 64px;
            background-size: cover;
            &.prev{
                rotate: -180deg;
                position: relative;
                top: 2px;
            }
            &[disabled]{
                opacity: .5;
            }
        }
        .pagination{
            transform: unset;
        }
    }
}
