@import '../../../scss/colors';
.BookAnAppointmentBtn { 
    padding: 12px 22px;
    border-radius: 70px;
    font-weight: $font-weight-semiBold;
    font-size: $font-medium;
    color: $color-white;
    background: linear-gradient(81.39deg, #FFDAA1 -11.85%, #023321 105.73%);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 500ms ease-in;
    &:hover {
        background: linear-gradient(150deg, #FFDAA1 -11.85%, #023321 105.73%);
    } 
}