@import '../../scss/colors';
@import '../../scss/breakpoints';
.BgGradientGolden{
    background: rgb(135,110,46);
    background:linear-gradient(180deg, rgba(135,110,46,1) 0%, rgba(255,213,157,1) 100%);
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(../../images/pattern-circle.png);
    }
    .TextImageWrap{
        @media #{$breakpoint-mobile} {
            flex-direction: column;
        }
        .TextImageDec {
            @media #{$breakpoint-mobile} {
                width: calc(100% + 30px);
                margin-left: -15px;
                margin-right: -15px;
                padding: 35px 15px 10px;
            }
            .TextImageTagline{
                font-size: $font-h5-large - 2; 
                margin-bottom: 30px;
                font-weight: $font-weight-semiBold;
                @media #{$breakpoint-mobile} {
                    font-size: $font-base;
                    margin-bottom: 15px;
                }
                img{
                    margin-right: 15px;
                    @media #{$breakpoint-mobile} {
                        max-width: 36px;
                        height: auto;
                        margin-right: 10px;
                    }
                }
            }
            h2{
                font-size: $font-h2;
                line-height: $font-h2 + 10;
                color: $color-primary;
                font-weight: $font-weight-semiBold;
                margin-bottom: 23px;
                @media #{$breakpoint-mobile} {
                    font-size: $font-h4;
                    line-height: $font-h4 + 7;
                    margin-bottom: 30px;
                }
            }
            aside{
                font-size: $font-h5;
                line-height: $font-h5 + 9;
                margin-bottom: 30px;
                @media #{$breakpoint-mobile} {
                    margin-bottom: 20px;
                }
                p{
                    font-weight: $font-weight-regular;
                    @media #{$breakpoint-mobile} {
                        font-size: $font-medium;
                        line-height: $font-medium + 5;
                    }
                }
            }
            .TextImagebtn{
            display: inline-block; 
            font-size:$font-large - 1;
            padding: 12px 21px;
            @media #{$breakpoint-mobile} {
                font-size: $font-medium;
                padding: 9px 20px;
            }
            }
        }
    }

    .ClipContainer{
        position: relative;
        display: inline-flex;
        align-items: flex-end;
        @media #{$breakpoint-mobile} {
            width: 100%;
            padding-top: 20px;
        }
        &:before{
            content: '';
            width: 100%;
            position: absolute;
            height: 100%;
            left: -40%;
            top: 0;
            z-index: 2;
            pointer-events: none;
            background: url(../../images/text-image-doctor-bg.png) no-repeat left top;
            background-size: cover;
            @media #{$breakpoint-mobile} {
                left: 0;
            }
        }
        .Clip{
            width: 60%;
            -webkit-clip-path: polygon(0 0, 100% 0%, 35% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 35% 100%, 0% 100%);
            position: absolute;
            height: 101%;
            left: 0;
            top: 0;
            z-index: 1;
            @media #{$breakpoint-mobile} {
                width: auto;
                right: -15px;
                left: -15px;
                clip-path: polygon(0 0, 100% 0, 100% 50%, 24% 50%, 0 100%);
                -webkit-clip-path:polygon(0 0, 100% 0, 100% 50%, 24% 50%, 0 100%);
            }
        }
        img{
            position: relative;
            z-index: 10;
        }
    }
}