@import '../../scss/colors';
@import '../../scss/breakpoints';
.ArticleListCard{
    width: 100%;  
    height: 100%;
    display: flex;
    flex-direction: column;  
    > a{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &.related{
        height: auto;
        .ArticleListCardDec{
            h4{
                margin-bottom: 0;
            }
        }
    }  
        .ArticleListCardImage{ 
            position: relative;
            border-radius: 15px;
            max-height: 230px;
            overflow: hidden;
            position: relative;
            background-color: $color-bdrlLightGray;
            @media #{$breakpoint-mobile} { 
                border-radius: 10px;
                margin-bottom: 16px;
            }
            img{
                width: 100%;
            }
            .icon{
                position: absolute;
                width: 60px;
                height: 60px;
                background-color: #fff;
                bottom: 15px; right: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                overflow: hidden;
                img{
                    max-width: 30px;
                }
            }
            .play{
                position: absolute;
                width: 86px;
                height: 86px;
                background-color: #ffffff70;
                bottom: 0; right: 0; left: 0; top: 0;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                overflow: hidden;
                svg{
                    max-width: 30px;
                }
            }
        }
        .ArticleListCardDec{
            box-shadow: 0px 18.74px 46.9632px rgba(15, 20, 36, 0.06);
            padding: 42px 18px 25px;
            margin-top: -20px;
            border-radius: 0px 0px 20px 20px;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            @media #{$breakpoint-mobile} { 
                background-color: $color-white;  
            }
            h4{
                font-size: $font-h5;
                line-height: $font-h5 + 5;
                font-weight: $font-weight-semiBold;
                margin-bottom: 24px;
            }
            aside{
                color: $color-bodyCopy;
                    margin-bottom: 25px;
                    font-weight: $font-weight-medium;
                    font-size: $font-medium;
                    line-height: $font-medium + 10;
                    line-clamp: 2; 
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
    
                    
                    @media #{$breakpoint-mobile} { 
                        font-size: $font-medium;
                        line-height: $font-medium + 5;
                    }
                *{
                    color: $color-bodyCopy;
                    margin-bottom: 25px;
                    font-weight: $font-weight-medium;
                    font-size: $font-medium;
                    line-height: $font-medium + 10;
                    line-clamp: 2; 
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
    
                    
                    @media #{$breakpoint-mobile} { 
                        font-size: $font-medium;
                        line-height: $font-medium + 5;
                    }
                }
                
            } 
            .ArticleListCardTag{
                padding: 4px 10px;
                min-width: 82px;
                text-transform: uppercase;
                display: inline-block;
                border-radius: 50px;
                text-align: center;
                margin-bottom: 13px;
                font-size: $font-small;
                font-weight: $font-weight-semiBold;
                letter-spacing: 0.12em;
                &.News{
                    color: $color-white;
                    background: $color-primary;
                }
                &.Events{
                    color: $color-white;
                    background: $color-brook-green;
                }
                &.Blog{
                    color: $color-white;
                    background: $color-primary;
                }
                &.Vlog{
                    color: $color-white;
                    background: linear-gradient(265.11deg, #886F2F 30.93%, #F3CC98 61.64%, #876E2E 95.6%);
                }
            }

            .specialities{
                padding: 8px 15px;
                background-color: #F5F5F7;
                border-radius: 60px;
                color: $color-primary;
                font-size: $font-base;
                font-weight: $font-weight-semiBold;
            }
            .doctor{
                color:#929292;
                padding-left: 5px;
                font-size: $font-base;
                font-weight: $font-weight-semiBold;
            }

            .ArticleListCardFtr{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                gap: 12px;
                color: #929292;
                margin: auto 0 0;
                a{
                    font-size:$font-base;
                    font-weight: $font-weight-medium;
                    color: #989898;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                > span:first-child{
                    font-weight: $font-weight-bold;
                    color: $color-primary;
                }
                .ArticleListCardDate{
                    font-weight: $font-weight-semiBold;
                    color: $color-primary;
                    font-size: $font-base;
                }
            }

        }
        
}