@import '../../scss/colors';
@import '../../scss/breakpoints';
.contentBox{

    position: sticky;
    top: 150px;
    padding: 32px;
    background-color: $color-white;
    border-radius: 20px;
    @media #{$breakpoint-mobile} {
        position: static;
        padding: 24px;
    }
    .bgGradient{
        background: linear-gradient(81.39deg, #FFDAA1 -11.85%, #023321 105.73%);
        .contentBoxSec{
            .contentBoxDec {
                color: $color-white; 
            }
        }
        
    }
    .title{
        display: flex;
        gap: 18px;
        margin-bottom: 44px;
        align-items: flex-start;
        justify-content: flex-start;

        span{
            width: 38px; height: 38px;
            flex-shrink: 0;
            position: relative;
            text {
                font-size: $font-base;
                font-weight: $font-weight-semiBold;
                color: $color-white;
            }
        }

        h4{
            font-size: $font-h4-small;
            line-height: $font-h4-small+5;
            font-weight: $font-weight-semiBold;
            color: $color-white;
            @media #{$breakpoint-mobile} {
                font-size: $font-h5;
                line-height: $font-h5 + 5;
            }
        }
    }
    .contentBoxSec {
        position: relative;
        padding-left: 25px;
        flex: 1;
        &::before{
            content:'';
            width: 1px;
            position: absolute;
            top: 20px;
            bottom: 0px;
            left: 0;
            background-color: $color-white;
        }
        &::after {
            content: '';
            width: 13px;
            height: 13px;
            left: -6px;
            top: 7px;
            position: absolute;
            background-color: transparent;
            border: 2px solid $color-light-green;
            border-radius: 100%;
        }
        h5{
            font-size: $font-base;
            font-weight:$font-weight-semiBold;
            color: $color-white; 
        }
        .contentBoxDec {
            margin-top: 30px;
            padding-left:26px;
            font-size: $font-medium;
            line-height:$font-medium + 9 ;
            color: #D8D8D8;
            @media #{$breakpoint-mobile} {
                margin-top: 15px;
                padding-left:0px;
            }

        }
    }
}