@import '../../../scss/colors';
@import '../../../scss/breakpoints';
.FooterSec{
    position: sticky;
    bottom: 0;
    @media #{$breakpoint-mobile} {
        padding-top: 35px;
        position: static;
        bottom: 0;
    }
    .FooterTopSec {
        border-top: 1px solid rgba(255, 255, 255, 0.32);
        @media #{$breakpoint-mobile} {
            display: flex;
            flex-direction: column-reverse;
            padding: 35px 0;
        }
        .FooterLeft{
            color: rgba(255, 255, 255, 0.8);
            @media #{$breakpoint-mobile} { 
                text-align: center;
            }
            .Footerlogo {
                @media #{$breakpoint-mobile} { 
                    display: flex;
                    justify-content: center;
                }
            }
            .FooterAdrs{
                padding: 30px 0;
                font-size:  $font-medium;
            }
        }
        .FooterRight{
            @media #{$breakpoint-mobile} { 
                flex-direction: column;
            }
            .FooterLinkSec{
                color: $color-white;
                margin-left: 25px;
                @media #{$breakpoint-mobile} {
                    width: 100%;
                    margin-left: 0;
                }
                h4{
                    font-weight: $font-bold;
                    margin-bottom: 20px;
                    font-size: $font-medium;
                }
                ul{
                    li{
                        margin-bottom: 5px;
                        font-size: $font-medium - 1;
                    }
                }
            }
        }
        
    }
    .FooterBtmSec {
        border-top: 1px solid rgba(255, 255, 255, 0.32);
        @media #{$breakpoint-mobile} { 
            flex-direction: column-reverse;
            text-align: center;
            padding: 35px 0;
        }
        .FooterBtmLeft{
            font-size: $font-medium - 1;
            color: $color-white;
        }
        .FooterBtmRight {
            @media #{$breakpoint-mobile} {
                justify-content: center;
                margin-bottom: 20px;
            }
            img{
                margin-left: 15px;
            }
        }
    }
}
.floatingIcons {
    right: 40px;
    bottom: 40px;
    z-index: 10;
    li{
        width: 60px;
        height: 60px;
        margin-bottom: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0px 11.7408px 46.9632px rgba(0, 0, 0, 0.2));

    }
}
