@import '../../scss/colors';
@import '../../scss/breakpoints';

.innerBannerWrapper{
    width: 100%;
    position: relative;
    .img{
        width: 100%;
    }
    .bannerText{
        position: absolute;
        top: 0;
        left: 0; right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        .bannerTextWrapper{
            position: relative;
            h1{
                font-size: $font-h1;
                color: $color-primary;
                font-weight: $font-light;
                @media #{$breakpoint-mobile} {
                    font-size: $font-h4-small;
                 }
            }
            .subhead{
                font-size: $font-base;
                color: $color-primary;
                @media #{$breakpoint-mobile} {
                    font-size:$font-medium;
                }

            }
            >img{
                position: absolute;
                right: -200px;
                top: -60px;
                max-width: 500px;
                @media #{$breakpoint-mobile} {
                    max-width: 250px;
                    top: 0;
                    right: -150px;
                 }
            }
        }
    }
}