@import '../../scss/colors';
@import '../../scss/breakpoints';

.innerBannerWrapper{
    width: 100%;
    position: relative;
    .bannerWrapper{
        max-height: 450px;
        overflow: hidden;
        .img{
            width: 100%;
        }
    }
    
    .bannerText{
        position: absolute;
        top: 0;
        left: 0; right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        .bannerTextWrapper{
            h1{
                font-size: $font-h1;
                color: $color-primary;
                font-weight: $font-weight-light;
                @media #{$breakpoint-mobile} {
                    font-size: $font-h4-small;
                 }
            }
            .subhead{
                font-size: $font-base;
                color: $color-primary;
                font-weight: $font-weight-semiBold;
                @media #{$breakpoint-mobile} {
                    font-size:$font-medium;
                }

            }
            >img{
                position: absolute;
                left: 0;
                bottom: -60px;
                max-width: 500px;
                @media #{$breakpoint-mobile} {
                    display: none;
                    max-width: 250px;
                    top: 0;
                    right: -150px;
                 }
            }
        }
    }
}