@import '../../../scss/colors';
@import '../../../scss/breakpoints';
.SectionTitle {
    &.small{
        h2{
            font-size: $font-h4-small;
            line-height: $font-h4-small + 8;
        }
    }
    > div{
        @media #{$breakpoint-mobile} {
           &.hasButton{
            max-width: 70%;
           }
        }
    }
    h2 {
        font-size: $font-h2;
        line-height: $font-h2 + 10;
        color: $color-primary;
        letter-spacing: -1px;
        font-weight: $font-weight-semiBold;
        @media #{$breakpoint-mobile} {
            font-size: $font-h4;
            line-height: $font-h4 ;
        }
    }

    .SectionTagline {
        display: block;
        font-size: $font-h4-small;
        line-height: $font-h4-small + 6;
        margin-top: 10px;
        @media #{$breakpoint-mobile} {
            font-size: $font-medium;
            line-height: $font-medium + 2;
            margin-top: 12px;
        }
    }
    &.green {
        h2 {
            color: $color-primary;
        }
        .SectionTagline {
            color: $color-primary;
        }
    }
    &.black {
        h2 {
            color: $color-black;
        }
        .SectionTagline {
            color: $color-bodyCopy;
        }
    }
    &.white {
        h2 {
            color: $color-white;
        }
        .SectionTagline {
            color: $color-white;
        }
        .moreBtn{
            color: $color-white;
            border-color: $color-white;
        }
    }
}
