@import '../../../scss/colors';
@import '../../../scss/breakpoints';
.cardWrapper{
    padding: 20px 25px;
    box-shadow: 0px 11.7408px 46.9632px rgba(8, 23, 33, 0.07);
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    .icon{
        width: 70px;
        img{
            width: 100%;
        }
    }
    .title{
        flex: 1;
        font-size: $font-base;
        color: $color-primary;
        @media #{$breakpoint-mobile} {
            font-size: $font-medium;
        }
    }
}