@import '../../scss/colors';
@import '../../scss/breakpoints';
.SpecialitySelectBox { 
    position: relative;
    padding-right: 55px;
    width: 100%;
    max-width: 366px;
    font-weight: $font-weight-semiBold;
    >div {
    font-weight: $font-weight-semiBold;
    color: $color-primary;
    z-index: 10;
    }
    @media #{$breakpoint-mobile} {
        padding: 13px 25px 13px 15px;
        border-radius: 10px;
        width: 50%;
        font-size: $font-medium;
        font-weight: $font-weight-medium;
    }
      &:before {
        content: '';
        position: absolute;
        top: 24px;
        right: 24px;
        width: 23px;
        height: 23px;
        background: url(../../images/icons/dropdown_arw.svg) no-repeat right center;
        transition: all 300ms linear;
        @media #{$breakpoint-mobile} {
            background-size: 100%;
            top: 50%;
            margin-top: -7px;
            right: 12px;
            width: 14px;
            height: 14px;
        }
      }

      &.standalone{
        border-radius: 49px;
        padding: 16px 50px 16px 24px;
        @media #{$breakpoint-mobile} {
          max-width: 100%;
          width: 100%;
        }
        &::before{
          top: 16px;
          right: 15px;
          @media #{$breakpoint-mobile} {
            top: 24px;
            right: 15px;
          }
        }
        &.isOpen{
          border-radius: 26px 26px 0 0;
        }
      }
      &.inForm{
        width: 100%;
        max-width: 100%;
        padding: 13px 24px 12px ;
        border-radius: 49px;
        min-height: 49px;
        margin-bottom: 48px;
        background: #fff;
        >div {
          font-weight: $font-weight-regular; 
          }
        &::before{
          top: 14px;
          @media #{$breakpoint-mobile} {
            top: 24px;
            right: 15px;
          }
        }
        &.isOpen{
          border-radius: 26px 26px 0 0;
        }
        .SpecialitySelectBoxOpen {
          background: #fff;
        }
      }
      &.inWhiteBg{
        width: 100%;
        min-width: 250px;
        max-width: 100%;
        padding: 15px 50px 15px 21px;
        border-radius: 49px;
        min-height: 49px; 
        background: #fff;
        >div {
          font-weight: $font-weight-medium; 
          }
        &::before{
          top: 19px;
          right: 17px;
          width: 15px;
          height: 15px;
          background-size: 100%;
          @media #{$breakpoint-mobile} {
            top: 24px;
            right: 15px;
          }
        }
        &.isOpen{
          border-radius: 26px 26px 0 0;
        }
        .SpecialitySelectBoxOpen {
          background: #fff;
        }
      }

      &.isOpen{
        &:before {
            transform: rotate(180deg);
        }
      }
      .SpecialitySelectList{
        border-bottom: 1px solid #b7b7b7;
        padding: 10px 0;
        cursor: pointer;
        img {
            margin-right: 10px;
            max-width: 30px;
        }
      }
    .SpecialitySelectBoxOpen {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 8px;
        z-index: 12;
    }   
}
