@import '../../scss/colors';
@import '../../scss/breakpoints';
.doctorDetail{
    position: relative;
    .DoctorCardDetails{
        margin-top: 100px;
        padding-right: 20px;
        @media #{$breakpoint-mobile} {
            margin-top: 35px;
            padding-right: 0;
        } 
        .doctorBanner{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2{
                font-size: $font-h2;
                color: $color-primary;
                line-height: $font-h2 + 10;
                font-weight: $font-weight-semiBold;
                margin-bottom: 3px;
                @media #{$breakpoint-mobile} {
                    font-size:$font-h5;
                    line-height: $font-h5 + 5;
                }
            }
            .designation{
                font-size: $font-h5;
                line-height: $font-h5 + 5;
                color: $color-primary;
                @media #{$breakpoint-mobile} {
                    font-size:$font-base;
                    line-height: $font-base + 3;
                }
            }
            
            .tags{
                width: auto;
                a{
                    font-size: $font-h5;
                    line-height: $font-h5 + 5;
                    font-weight: $font-weight-semiBold;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    @media #{$breakpoint-mobile} {
                        font-size:$font-base;
                        line-height: $font-base + 3;
                        gap: 11px;
                    }
                    img{
                        @media #{$breakpoint-mobile} {
                            max-width: 22px;
                        }
                    }
                }
                
            }
            .degrees{
                font-weight: $font-weight-semiBold;
                font-size: $font-base;
                line-height: $font-base + 3;
                @media #{$breakpoint-mobile} {
                    font-size:$font-small;
                    line-height: $font-small + 2;
                }
            }
            .experience{
                font-size: $font-h5;
                line-height: $font-h5 + 5;
                font-weight: $font-weight-semiBold;
                margin-top: 7px;
                @media #{$breakpoint-mobile} {
                    font-size:$font-base;
                    line-height: $font-base + 3;
                }
            }
        }
    }
    
    .DoctorCardShare {
        width: 60px;
        height: 60px;
        filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.1));
        background: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 17px;
        top: 20px;
        img{
            width: 28px;
            height: 28px;
        }
    }
    .DoctorCardImage{
        width: 367px;
        position: relative;
        display: grid;
        align-items: end;
        border-radius: 0 0 100vw 100vw;
        overflow: hidden;
        padding-top: 5px;
        @media #{$breakpoint-mobile} {
            width: 260px;
        }
        .Circle {
            width: 367px;
            height: 367px;
            background: linear-gradient(264.85deg, #FFD59D 23.35%, #876E2E 89.39%);
            border-radius: 100%;
            position: absolute;
            @media #{$breakpoint-mobile} {
                width:260px;
                height: 260px;
            }
        }
        img {
            position: relative;
            z-index: 2;
            margin: 0 auto;
            transition: all 0.25s ease;
            width: 80%;
        }
    }
}

.slider{
    flex-direction: row-reverse;
    display: flex;
    margin-top: 20px;
    padding: 50px 97px;
    align-items: center;
    .DoctorCardDetails{
        padding-right: 100px;
        .doctorBanner{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2{
                font-size: $font-h3-large - 2;
                line-height: $font-h3-large - 3;
                font-weight: $font-weight-semiBold;
                color: $color-primary;
                @media #{$breakpoint-mobile} {
                    font-size:$font-h5;
                }
            }
            .designation{
                font-size: $font-h5-small;
                line-height: $font-h5-small + 4;
                color: $color-primary;
                margin-top: 12px;
                @media #{$breakpoint-mobile} {
                    font-size:$font-base;
                }
            }
            .doctorSliderDec{
                color: #757575;
                margin: 30px 0 37px;
                font-size: $font-medium;
                font-weight: $font-weight-medium;
                line-height:$font-medium + 13 ;
            }
            .tags{
                width: auto;
                a{
                    font-size: $font-h5;
                    font-weight: $font-weight-semiBold;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    @media #{$breakpoint-mobile} {
                        font-size:$font-base;
                    }
                }
                
            }
            .doctorSliderDecBtm { 
                margin-bottom: 20px;
                .degrees{
                    font-weight: $font-weight-semiBold;
                    color: $color-primary;
                    font-size: $font-base;
                    margin-right: 8px;
                    @media #{$breakpoint-mobile} {
                        font-size:$font-small;
                    }
                }
                .experience{
                    font-size: $font-base;
                    color: $color-primary;
                    font-weight: $font-weight-semiBold;
                    display: list-item;
                    list-style: disc;
                    margin-left: 24px;
                    @media #{$breakpoint-mobile} {
                        font-size:$font-base;
                    }
                }
            }
            .doctorSliderDecftr {
                span{
                    color: #A2A2A2;
                    margin-left: 18px;
                }
            }
            
        }
    }
 
    
    .DoctorCardImage{
        width: 352px;
        position: relative;
        display: grid;
        align-items: end;
        border-radius: 0 0 100vw 100vw;
        overflow: hidden;
        padding-top: 5px;
        @media #{$breakpoint-mobile} {
            width: 260px;
        }
        .Circle {
            width: 352px;
            height: 352px;
            background: linear-gradient(264.85deg, #FFD59D 23.35%, #876E2E 89.39%);
            border-radius: 100%;
            position: absolute;
            @media #{$breakpoint-mobile} {
                width:260px;
                height: 260px;
            }
        }
        img {
            position: relative;
            z-index: 2;
            margin: 0 auto;
            transition: all 0.25s ease;
            width: 80%;
        }
    }
}


