/**** BREAKPOINTS ****/


$desktop: 1184px;
$desktop-lg: 1440px;
$desktop-sm: 1050px;
$tablet-lg: 900px;
$tablet: 768px;
$mobile: 768px;


/**** MEDIA QUERIES ****/
$breakpoint-mobile: 'screen and (max-width: #{($tablet - 1)})';
$breakpoint-lg-tablet: 'screen and (max-width: #{($desktop - 1)})';
$breakpoint-tablet: 'screen and (max-width: #{($tablet-lg - 1)})';
$breakpoint-sm-desktop: 'screen and (max-width: #{($desktop-sm - 1)})';
$breakpoint-min-desktop: 'screen and (min-width: #{($tablet-lg)})';
$breakpoint-desktop: 'screen and (max-width: #{$desktop-lg - 1})';

