@import './colors';
@import './breakpoints';
.button{
    padding: 10px 18px;
    border-radius: 42px; 
    color: #fff;
    font-size: 14px;
    @media #{$breakpoint-mobile} {
        font-size: 12px;
       
    }

}
.moreBtn {
    border: 1px solid #023321;
    border-radius: 50px;
    font-size: 17px;
    padding: 10px 22px;
    display: inline-block;
    @media #{$breakpoint-mobile} {
        font-size: 12px;
        padding: 5px 15px;
    }
    &:hover{
        background: $color-primary;
        border-color: $color-primary;
        color: $color-white;
    }
    &.white{
        color: $color-white;
        border-color: $color-white;
        &:hover{
            background: $color-white;
            color: $color-primary;
        }
    }
    &.green{
        color: $color-primary;
        border-color: $color-primary;
        &:hover{
            color: $color-white;
        }
    }
    &.black{
        color: $color-black;
        border-color: $color-black;
    }
}
