$color-primary: #023321;
$color-secondary:#2A5D4A;
$color-bdrlGray:#F5F5F7;
$color-bdrlDarkGray:#D9D9D9;
$color-bdrlLightGray:#CECECE;
$color-bodyCopy: #474747;
$color-white: #FFFFFF;
$color-black: #000000;