@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import './_button.scss';

img {
    border: none;
}
* {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pageWrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1210px;
    padding: 0 15px;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    background: #f9f9f9;
    overflow-x: hidden;
}

.swiper {
    width: 100%;
}



.bg-gradient-golden{
    background: rgb(135,110,46);
    background:linear-gradient(180deg, rgba(135,110,46,1) 0%, rgba(255,213,157,1) 100%);
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(../images/pattern-circle.png);
    }
    .clipContainer{
        position: relative;
        .clip{
            width: 60%;
            -webkit-clip-path: polygon(0 0, 100% 0%, 35% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 35% 100%, 0% 100%);
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1;
        }
        img{
            position: relative;
            z-index: 10;
        }
    }
}